<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntegrationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://messaging.yemeksepeti.com/messagingwebservice/integration.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationSoap"
                contract="YSServiceReference.IntegrationSoap" name="IntegrationSoap" />
        </client>
    </system.serviceModel>
</configuration>